@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* navbar */

header li {
    list-style: none;
    display: inline-block;
    padding-left: 30px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #d5d7db;
}

header a:hover {
    color: #3882f6;
}

.container1 {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 120px;
    padding-top: 30px;
    margin-bottom: 80px;
}

.nav-button {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 2px 20px;
    cursor: pointer;
}

.logo-img {
    width: 90px;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 90px;
    margin-left: 10px;
}

/* hero section*/

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #d5d7db;
}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 120px;
    padding-bottom: 60px;
    margin: 20px;
}

.hero-image {
    height: 300px;
    width: auto;
    margin-right: -20px;
    margin-bottom: 20px;
}

.hero-left {
    width: 450px;
    margin-right: auto;
}

button.hero-button{
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* 2nd section */

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 30px;
}

.card-image img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border: solid 2px #3882f6;
}

.card-image p {
    text-align: center;
    color: #1f2937;
    font-size: 15px;
    font-weight: 400px;
    margin-top: 15px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px 40px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    flex: 0 1 25px;
}

strong {
    font-weight: bolder;
    font-size: 20px;
    color: #3882f6;
}















