@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header li {
    list-style: none;
    display: inline-block;
    padding-left: 30px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #d5d7db;
}

header a:hover {
    color: #3882f6;
}

.container1 {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 120px;
    padding-top: 30px;
}

img {
    width: 90px;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 90px;
}



.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #d5d7db;
}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
    padding: 0 120px;
    padding-bottom: 60px;
}

.hero-right {
   padding-bottom: 20px;
}

.hero-image {
    width: 450px;
    height: auto;
    border-radius: 2px;
    box-shadow:  1px 1px 5px gray;
}

.hero-left {
    width: 450px;
    margin-right: auto;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 5px;
}






